@charset "utf-8";


html{
scrollbar-arrow-color:#606060; /*三角箭头颜色*/
scrollbar-face-color:#c2c2c2; /*立体滚动条颜色（包括箭头部分的背景色）*/
scrollbar-3dlight-color:#c2c2c2; /*亮边颜色*/
scrollbar-highlight-color:#c2c2c2; /*高亮颜*/
scrollbar-shadow-color:#f2f2f2; /*阴影颜色*/
scrollbar-darkshadow-color:#f2f2f2; /*外阴影颜色*/
scrollbar-track-color:#f2f2f2; /*背景颜色*/
scrollbar-base-color:#c2c2c2; /*滚动条的基色*/
}
/*webkit浏览器滚动条样式*/
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb{border-radius:10px;background:#c2c2c2;}
::-webkit-scrollbar-thumb:window-inactive {background:#656565;}

html,body{font-size:12px;font-family:'微软雅黑';padding:0;margin:0;color:#3e3a39;}
*{padding:0;margin:0;}
ul{margin:0px;padding:0;}
li{list-style-type:none;}
button{border:none;background:none;cursor:pointer;outline: none;font-family:'微软雅黑';star:expression(this.onFocus=this.blur());}
select,input{font-family:'微软雅黑';}
h1,h2,h3,h4,h5,h6{margin:0;display:block;font-weight:normal;font-size:14px;}
a{ cursor:pointer; text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());outline:none;}
img{border:none;}
u,s{text-decoration:none;}
table{ width:100%; border-collapse:collapse;}
textarea{font-size:14px;font-family:'微软雅黑';padding:10px;line-height:24px; border:1px solid #efefef;color:#595757;}
textarea:focus{border:1px solid #39a5e9;background:#fff;}
input:focus{border:1px solid #39a5e9;background:#f8f8f8;}

/*-----地址栏---------*/
div.addressBar{ clear:both;height:24px; margin-bottom:30px;}
div.addressBarMain{width:1000px; height:20px;}
a.leader{height:24px; line-height:24px; float:left; padding-left:30px;color:#3c4349; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px; font-weight:bold;background:url(../images/ico_home.png) no-repeat 6px center; cursor:pointer;}
a.leader:hover{ color:#000;}
a.jumpback{height:24px; line-height:24px; float:left; margin-left:5px;color:#3c4349; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px; cursor:pointer;}
a.jumpback:hover{ color:#000;}
span.arrowText{height:24px; line-height:24px; float:left; margin:0px 5px;color:#787677; font-size:12px; font-family:'宋体';}
span.normal{height:24px; line-height:24px; float:left; margin:0px 5px;color:#a3a3a3; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;}


.can{ width:1000px; margin:0 auto;}
span.floatL{ float:left;}
span.floatR{ float:right;}

/*-通用按钮-*/
.btnDiv{ float:right;}
span.floatLeft{ float:left;}
span.floatRight{ float:right;}
.textBlue{ color:#3faeed;}
.textGray{ color:#a0a0a0;}
.textRed{ color:#fd685c;}
.textOrange{ color:#f47f30;}
.bgBlue{ background:#3faeed; padding:2px 8px; border-radius:3px; color:#fff;}
.bgGray{ background:#b6b6b6; padding:2px 8px; border-radius:3px; color:#fff;}
.bgRed{ background:#fd685c; padding:2px 8px; border-radius:3px; color:#fff;}
.bgOrange{ background:#f4ac30; padding:2px 8px; border-radius:3px; color:#fff;}
.bgGreen{ background:#4bc087; padding:2px 8px; border-radius:3px; color:#fff;}
.btnBlue{display:block;float:right;height:28px;line-height:28px;width:90px;border-radius:3px;color:#fff;letter-spacing:3px;font-size:14px;text-align:center;background:#3faeed;cursor:pointer;margin-right:10px;}
.btnBlue:hover{background:#2fa2e4;}
.btnBlueS{display:block;float:right;height:28px;line-height:28px;width:50px;border-radius:3px;color:#fff;letter-spacing:3px;font-size:14px;text-align:center;background:#3faeed;cursor:pointer;margin-right:10px;}
.btnBlueS:hover{background:#2580d6;}
.btnGray{display:block;float:right;height:28px;line-height:28px;width:90px;border-radius:3px;color:#fff;letter-spacing:3px;font-size:14px;text-align:center;background:#b6b6b6;cursor:pointer;margin-right:10px;}
.btnGray:hover{ background:#979797;}
.btnGrayS{display:block;float:right;height:28px;line-height:28px;width:50px;border-radius:3px;color:#fff;letter-spacing:3px;font-size:14px;text-align:center;background:#b6b6b6;cursor:pointer;margin-right:10px;}
.btnGrayS:hover{ background:#979797;}
.btnRed{display:block;float:right;height:28px;line-height:28px;width:90px;border-radius:3px;color:#fff;letter-spacing:3px;font-size:14px;text-align:center;background:#fd685c;cursor:pointer;margin-right:10px;}
.btnRed:hover{ background:#ef574c;}
.btnOrange{display:block;float:right;height:28px;line-height:28px;width:90px;border-radius:3px;color:#fff;letter-spacing:3px;font-size:14px;text-align:center;background:#f4ac30;cursor:pointer;margin-right:10px;}
.btnOrange:hover{ background:#f29a0e;}
.btnGreen{display:block;float:right;height:28px;line-height:28px;width:90px;border-radius:3px;color:#fff;letter-spacing:3px;font-size:14px;text-align:center;background:#14d392;cursor:pointer;margin-right:10px;}
.btnGreen:hover{ background:#12c387;}
/*-通用按钮 END-*/



/*--------搜索下拉菜单---------*/
div.dropSearch{background: #f9f9f9;border: 1px solid #e8e8e8;left: -1px;overflow: hidden;padding: 5px; position: absolute; top: 30px;width: 150px;z-index: 100; display:none;}
div.dropBar{z-index:99; clear:both; max-height:180px; width:160px; overflow:auto; padding:0px; margin-top:5px; float:left;}
.dropBar ul.dropList{ margin:0 10px;width: 140px;}
.dropBar ul.dropList li{ clear:both; width:130px; line-height:24px; font-size:12px; border-bottom:1px dotted #d6d6d6; text-align:left; color:#5d5d5d; cursor:pointer; text-indent:12px; margin:0;}
.dropBar ul.dropList li:hover{ background:#F5F5F5;}
/*-----------------*/


/*--------页码----------*/
.pageBar{ height:32px; padding-top:20px;border-top:1px solid #e6e6e6; }
.pageNum{ height:30px; width:300px;}
.pageNum span{ display:block; width:30px; height:30px; text-align:center; line-height:30px; font-size:12px; color:#666; margin-right:10px; float:left; cursor:pointer;  background:#fff; border:1px solid #eee;}
.pageNum span:hover{ color:#fff; background:#4daada;}
span.clickOn{ color:#fff; background:#4daada;}

/*------------------*/

a.ico_next{ display:block; width:27px; height:27px; background:url(../images/ico_next.png) no-repeat center center; float:right; margin:0 3px;}
a.ico_pre{ display:block; width:27px; height:27px; background:url(../images/ico_pre.png) no-repeat center center; float:right; margin:0 3px;}

/*----------------------*/
div.choseDiv{background:#fff; height:24px; width:120px; border:1px solid #E6E6E6;position:relative;margin:0 auto;}
div.choseDiv:hover{ border:1px solid #BAC4CE;}
div.choseDiv input.choseDivInput{ border:0; float:left;height:24px; width:90px; line-height:24px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
div.choseDiv a.choseDivSubA{ float:left; cursor:pointer;height:24px; width:24px; background:url(../images/hasddArrow.png) no-repeat center 11px ;}

div.choseDivRefault{ position:absolute; top:24px; left:-1px; z-index:100; width:150px; border:1px solid #d6d6d6; padding:5px; overflow:hidden; background:#f9f9f9; display:none;}

div.choseDivSecondSearch{ height:24px; border:1px solid #CCCCCC;float:right; margin-top:6px;}
div.choseDivSecondSearch input.choseDivSecondInput{ border:0; float:left;height:24px; width:115px; line-height:24px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
div.choseDivSecondSearch a.choseDivSeconSubA{ float:left; cursor:pointer;height:24px; width:24px; background:url(../images/searcha.jpg) no-repeat center -2px; border-left:1px solid #CCCCCC; }
div.choseDivSecondSearch a:hover,div.choseDivSecondSearch a.choseDivSeconSubA:hover{background:url(../images/searcha.jpg) no-repeat center -32px;}

div.choseDivSeconListDiv{z-index:99; clear:both; max-height:180px; width:150px; overflow:auto; padding:0px; margin-top:5px; float:left;}
ul.choseDivSeconListUl li{ clear:both; line-height:24px; border-bottom:1px dotted #d6d6d6; text-align:left; color:#5d5d5d; cursor:pointer; text-indent:12px;}
ul.choseDivSeconListUl li:hover{ background:#F5F5F5;}


/*--------搜索下拉查询---------*/
/*div.searchBar{ clear:both;padding:15px 0 4px; height:30px;}
span.spanName{ float:left;line-height:30px; text-align:center;width:80px;font-size:14px; color:#30383B;font-family:'微软雅黑';letter-spacing:1px;}

div.mohusearch{float:left;background:#fff; height:30px; border:1px solid #E6E6E6; position:relative;}
div.mohusearch:hover{ border:1px solid #BAC4CE;}
div.mohusearch span.searchSimpleInputb{ border:0; float:left;height:30px; width:137px; line-height:30px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
div.mohusearch input.searchSimpleInputb{ border:0; float:left;height:30px; width:300px; line-height:30px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
div.mohusearch a.searchSubb{ float:left; cursor:pointer;height:30px; width:30px; background:url(../images/hasddArrow.png) no-repeat center 13px ;}

div.searchSimple{ height:24px; border:1px solid #CCCCCC;float:right; margin-top:6px;}
div.searchSimple input.searchSimpleInput{ border:0; float:left;height:24px; width:285px; line-height:24px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
div.searchSimple a.searchSub{ float:left; cursor:pointer;height:24px; width:24px; background:url(../images/searcha.jpg) no-repeat center -2px; border-left:1px solid #CCCCCC; }
div.searchSimple a:hover,div.searchSimple a.searchSub:hover{background:url(../images/searcha.jpg) no-repeat center -32px;}

a.searchBt{ background:url(../images/searcha.jpg) no-repeat center top; width:30px; height:30px; float:left;}
a.searchBt:hover{ background:url(../images/searcha.jpg) no-repeat center bottom; }

div.searchDoult{ position:absolute; top:30px; left:-1px; z-index:100; width:324px; border:1px solid #d6d6d6; padding:5px; overflow:hidden; background:#f9f9f9; display:none;}
div.jieguo{z-index:99; clear:both; max-height:180px; width:320px; overflow:auto; padding:0px; margin-top:5px; float:left;}
ul.jieguolist li{ clear:both; line-height:24px; border-bottom:1px dotted #d6d6d6; text-align:left; color:#5d5d5d; cursor:pointer; text-indent:24px;}
ul.jieguolist li:hover{ background:#F5F5F5;}*/
/*--------搜索下拉查询END---------*/


/*--------操作按钮栏---------*/
.subBtDiv{ clear:both; padding:10px; height:35px; background:#fff; margin-top:20px;}
.subBtDiv ul{ width:250px; float:right;}
.subBtDiv ul li{ float:left;}
a.subMit{ float:left; width:120px; height:35px; line-height:35px; border-radius:4px; cursor:pointer;
color:#fff;font-size:14px;font-weight:normal; letter-spacing:1px; text-align:center;}
.btColorA{ background:#18cfda;}
.btColorA:hover{ background:#17bdc7;}
.btColorB{ background:#f64444;}
.btColorB:hover{ background:#e63333;}
.btColorC{ background:#ccc;}
.btColorC:hover{ background:#c1c4c3; color:#666;}
/*--------操作按钮栏END---------*/



a.checkbox{ width:20px; height:20px; display:block; cursor:pointer;background:url(../images/check1.png) no-repeat center center; margin:0 auto;}
a.checkbox:hover{background:url(../images/checked.png) no-repeat center center;}
a.checked{background:url(../images/checked.png) no-repeat center center;}



