@charset "utf-8";
/* CSS Document */
/*reset*/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote,dl, dt, dd, ul, ol, li,
pre,form, fieldset, iframe, legend, button, input, textarea,th, td,img{
	border:none;
	margin: 0;
	padding: 0;
}
body,h1, h2, h3, h4, h5, h6, button, input, select, textarea {
	font-family:"微软雅黑";
}
body{background:#f0efef;}
ul, ol { display:block; list-style: none;}
li { display:block;}
img{ border:0px;}
table {border-spacing: 0; }
/*文字样式*/
.textOrange{ color:#d3403a;}
.textDarkGray{ color:#545454; font-size:14px;}
.textGray{ color:#888;}
.textBlue{ color:#46a0d5;}
.textGrass{ color:#aaac22;}
.textRed{ color:#ea2742;}
.textBlack{ color:#555;}
.textGreen{ color:#3b953f;}/*操作区域*/
.resultText{
	float:left;
	padding-left:5px;
	font-size:14px;
	letter-spacing:1px;
	line-height:32px;
	color:#333;}
.bold{font-weight:bold;}
/*列表全选+勾选*/
.tickAll{
	float:left;
	height:20px;
	width:20px;
	background:url(../images/tickbg.png) no-repeat;
	cursor:pointer;}
.tick{
	float:left;
	height:20px;
	width:20px;
	background:url(../images/tickbg.png) no-repeat;
	cursor:pointer;}
.tickOn{
	height:20px;
	width:20px;
	background:url(../images/tickbg.png) -20px 0px no-repeat;
	cursor:pointer;}
.tick02{
	float:left;
	height:16px;
	width:16px;
	background:url(../images/tickbg02.png) no-repeat;
	cursor:pointer;}
.tickOn02{
	height:16px;
	width:16px;
	background:url(../images/tickbg02.png) -16px 0px no-repeat;
	cursor:pointer;}
.tick,.tickAll{
	margin-left: 10px;}
/*单选按钮组*/
.y_or_n{
	display:block;
	float:left;}
.y_or_n li{
	position:relative;
	display:block;
	float:left;
	height:28px;
	line-height:28px;
	padding-left:35px;
	color:#666;}
.y_or_n li.on{
	color:#d3403a;}
.y_or_n .tick{
	position:absolute;
	top:5px;
	left:0px;}
.y_or_n li.on .tick{
	background:url(../images/tickbg.png) -20px 0px no-repeat;}
/*多选按钮组*/
.tihuoCang{
	display:block;}
.tihuoCang li{
	display:block;
	float:left;
	width:44px;
	height:24px;
	line-height:24px;
	margin-right:4px;
	color:#888;
	text-align:center;
	font-size:12px;
	border:1px solid #c4c4c4;
	border-radius:3px;
	background:#f6f6f6;
	cursor:pointer;}
.tihuoCang li.on,.tihuoCang li:hover{
	color:#d3403a;
	border:1px solid #d3403a;
	background:#fff;}
/*按钮样式*/
.selectBtn{
	float:left;
	height:32px;
	line-height:32px;
	width:50px;
	border-radius:3px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#d3403a url(../images/selectbtn.png) 16px center no-repeat;
	cursor:pointer;}
.btnOrange{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	width:94px;
	border-radius:3px;
	margin-left:5px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#d3403a;
	cursor:pointer;}
.btnOrange:hover{background:#de3a32;}
.btnSeemore{
	display:block;
	float:right;
	height:24px;
	line-height:24px;
	width:66px;
	border-radius:3px;
	margin-left:5px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#6bb0cd;
	cursor:pointer;}
.btnSeemore:hover{background:#80C4E0;}
.btnOrangeS{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	width:60px;
	border-radius:3px;
	margin-left:5px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#d3403a;
	cursor:pointer;}
.btnOrangeS:hover{background:#de3a32;}
.btnOrangeWide{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	width:120px;
	border-radius:3px;
	margin-left:5px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#d3403a;
	cursor:pointer;}
.btnOrangeWide:hover{background:#de3a32;}
.btnBlue{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	width:94px;
	border-radius:3px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#2ba4d8;
	cursor:pointer;}
.btnBlueS{
	display:block;
	height:24px;
	line-height:24px;
	width:70px;
	border-radius:3px;
	color:#fff;
	letter-spacing:3px;
	font-size:12px;
	text-align:center;
	margin:auto;
	background:#2ba4d8;
	cursor:pointer;}
.btnOrangeXXL{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	width:150px;
	border-radius:3px;
	margin-left:5px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#f47f30;
	cursor:pointer;}
.btnOrangeXXL:hover{background:#fa883c;}
.btnBlue{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	width:94px;
	border-radius:3px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#2ba4d8;
	cursor:pointer;}
.btnBlue:hover{background:#2eade3;}
.btnBlueWide{
	display:block;
	float:left;
	height:32px;
	line-height:32px;
	width:120px;
	border-radius:3px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#2ba4d8;
	cursor:pointer;}
.btnBlueWide:hover{background:#2eade3;}
.btnGray{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	width:94px;
	border-radius:3px;
	margin-left:5px;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	text-align:center;
	background:#aaaaa9;
	cursor:pointer;}
.btnGray:hover{
	background:#b5b5b5;}
.btnFail,.btnPass{
	float:right;
	display:block;
	height:32px;
	line-height:32px;
	width:84px;
	border-radius:5px;
	padding-left:36px;
	margin:-3px 0px 0px 5px;
	color:#fff;
	font-size:14px;
	letter-spacing:1px;
	cursor:pointer;}
.btnPass{
	background:#2ba4d8 url(../images/smile.png) no-repeat 10px center;}
.btnFail{
	background:#f06f49 url(../images/cry.png) no-repeat 10px center;}
/*TAB切换*/
.tabDiv{
	height:42px;
	margin-top:8px;
}
.xuqiuTab{
	float:left;
	height:30px;
	width:82px;
	padding:12px 0px 0px 40px;
	color:#717171;
	font-size:16px;
	letter-spacing:1px;
	background:url(../images/youpinbtn02.png);}
.dingdanTab{
	float:left;
	height:30px;
	width:82px;
	padding:12px 0px 0px 40px;
	margin-left:15px;
	color:#717171;
	font-size:16px;
	letter-spacing:1px;
	background: url(../images/dingdanbtn02.png);
	cursor:pointer;}
.xuqiuTab.tabOn{
	color:#ef6101;
	background:url(../images/youpinbtn.png);}
.dingdanTab.tabOn{
	color:#ef6101;
	background:url(../images/dingdanbtn.png);}
.normalTab{
	float:left;
	height:28px;
	line-height:28px;
	width:122px;
	text-align:center;
	color:#777;
	font-size:16px;
	letter-spacing:1px;
	background:#E3E3E3;
	margin-right:10px;
	margin-top:6px;
	border:1px solid #CCCBCB;
	border-radius:5px;
	cursor:pointer;}
.normalTab.tabOn{
	color:#cf322b;
	background:#fff;
	border:1px solid #cf322b;}
/*顶部操作提示*/
.hintBar{
	display:none;
	position:fixed;
	top:0px;
	height:36px;
	width:100%;
	line-height:36px;
	font-size:14px;
	letter-spacing:1px;
	text-align:center;}
.hintBar.green{
	border-bottom:1px #D9ECC2 solid;
	color:#7BAD02;
	background:#ECF7DE;}
.hintBar.red{
	border-bottom:1px #F2E0E0 solid;
	color:#d3403a;
	background:#fff4f4;}
.hintX{
	float:right;
	height:24px;
	width:24px;
	margin:6px 10px 0px 0px;
	background:url(../images/hintX.png) center center no-repeat;
	cursor:pointer;}
/*面包屑*/
.position_now{ height:34px; line-height:34px; padding:0 20px; color:#999; font-size:14px; background:#EDEDED; border-bottom:#DBDBDB dotted 1px;}
.position_now a{color:#999; font-size:14px; text-decoration:none;}
.position_now a:last-child{color:#666 ; font-size:14px; text-decoration:none;}
.goback {
	border-left: 1px solid #ececec;
	color: #999;
	cursor: pointer;
	float: right;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 32px;
	letter-spacing: 1px;
	line-height: 32px;
	padding-left: 18px;
	background:url(../images/fanhui.png) no-repeat 0px 10px;
}
.saveBar {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ebeaea;
	clear: both;
	margin-top: 10px;
	padding: 10px;
	overflow:hidden;
}
/*条件搜索*/
.searchBar{
	margin-top:10px;}
.resultBar{
	height:32px;
	margin-top:10px;}
.searchBar{
	position:relative;
	border-radius:3px;
	border:1px #ececec solid;
	padding:0px 10px;
	background:#fff;}
.resultBar{ background:#fff;padding:10px;}
.moreBtn{
	float:right;
	height:32px;
	line-height:32px;
	border-radius:3px;
	padding:0px 5px;
	margin-right:10px;
	font-size:12px;
	color:#2ba4d8;
	letter-spacing:2px;
	background:#ddf3ff;
	cursor:pointer;}
.searchBox{
	float:left;
	margin-right:30px;}
.searchWrapper{
	float:left;
	margin-right:30px;}
.searchName{
	float:left;
	height:32px;
	line-height:32px;
	color:#333;
	font-size:14px;}
.textLink{
	color:#d3403a;
	letter-spacing:1px;
	text-decoration:none;}
input.timeInput {
	display: block;
	float:left;
	height: 32px;
	line-height: 32px;
	width: 150px;
	border: 1px solid #ececec;
	border-radius: 3px;
	color: #666;
	font-family: "微软雅黑";
	font-size: 12px;
	letter-spacing: 1px;
	padding-left: 5px;
	background: #fff url("../images/ico_date.png") no-repeat scroll right center;
}
.container_youjinbao{
	background:#f7f7f7;
	border-radius: 5px;
	height: 340px;
	text-align: center;
}
/*输入框100%区域*/
.textAreaBox{
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	margin-top:15px;
	padding:5px;
	background:#f9f9f9;}
.textAreaBox.on{
	background:#fff;}
.textArea{
	width:100%;
	height:150px;
	line-height:20px;
	color:#666;
	resize:none;
	font-size:14px;
	letter-spacing:2px;
	background:none;}
/*日期输入框格式*/
.fromTo{ float:left; line-height:32px; font-size:12px; padding:0 5px;}
.searchInputSelect{
	float:left;
	display:block;
	height:32px;
	line-height:32px;
	width:100px;
	border:1px #ececec solid;
	border-radius:3px;
	margin-right:5px;
	padding-left:5px;
	background:url(../images/id_triangle.png) no-repeat 88px 10px;
	color:#666;
	font-size:14px;
	cursor:pointer;}
.searchInputSelectWide{
	float:left;
	display:block;
	height:32px;
	line-height:32px;
	width:200px;
	border:1px #ececec solid;
	border-radius:3px;
	margin-right:5px;
	padding-left:5px;
	background:url(../images/id_triangle.png) no-repeat 188px 10px;
	color:#666;
	font-size:14px;
	cursor:pointer;}
.searchInputText{
	float:left;
	display:block;
	height:32px;
	line-height:32px;
	width:240px;
	border:1px #ececec solid;
	border-radius:3px;
	margin-right:5px;
	padding-left:5px;
	color:#666;
	font-size:14px;
	background:#fff;}
.searchInputUrl{
	float:left;
	display:block;
	height:32px;
	line-height:32px;
	width:332px;
	border:1px #ececec solid;
	border-radius:3px;
	margin-left:20px;
	padding-left:5px;
	color:#666;
	font-size:14px;
	background:#fff;}
.searchInputTextS{
	display:block;
	height:32px;
	line-height:32px;
	width:80px;
	border:1px #ececec solid;
	border-radius:3px;
	margin:auto;
	padding-left:5px;
	color:#46a0d5;
	font-size:14px;
	background:#fff;}
.searchInputTextRed{
	display:block;
	height:32px;
	line-height:32px;
	width:120px;
	border:1px #ececec solid;
	border-radius:3px;
	margin:auto;
	padding-left:5px;
	color:#d3403a;
	font-size:14px;
	background:#fff;}
.searchInputTextPS{
	display:block;
	height:32px;
	line-height:32px;
	width:200px;
	border:1px #ececec solid;
	border-radius:3px;
	margin:auto;
	padding-left:5px;
	color:#666;
	font-size:14px;
	background:#fff;}
.searchInputTextWide{
	float:left;
	display:block;
	height:32px;
	line-height:32px;
	width:238px;
	border:1px #ececec solid;
	border-radius:3px;
	margin-right:5px;
	padding-left:5px;
	color:#666;
	font-size:14px;
	background:#fff;}
.searchInputTextnarrow{
	float:left;
	display:block;
	height:32px;
	line-height:32px;
	width:80px;
	border:1px #ececec solid;
	border-radius:3px;
	margin-left:5px;
	padding-left:5px;
	color:#46a0d5;
	font-size:14px;}
.inputNarrowRed{
	float:left;
	display:block;
	height:32px;
	line-height:32px;
	width:80px;
	border:1px #ececec solid;
	border-radius:3px;
	margin-left:5px;
	padding-left:5px;
	color:#d3403a;
	font-size:14px;}
.inputBoxGray{
	height:200px;
	line-height:22px;
	padding-left:10px;
	letter-spacing:1px;
	font-size:14px;
	color:#333;
	background:#f7f7f7;}
.inputBoxGray textarea{
	width:100%;
	height:200px;
	line-height:22px;
	letter-spacing:1px;
	font-size:14px;
	color:#333;
	resize:none;
	background:none;}
.add_searchInputText {
	border: 1px solid #ececec;
	border-radius: 3px;
	color: #666;
	display: block;
	float: left;
	font-size: 14px;
	height: 32px;
	line-height:32px;
	margin-right: 5px;
	padding-left: 5px;
	width: 400px;}
.shuaxin{
	display:block;
	float:left;
	height:28px;
	line-height:28px;
	padding:0px 5px 0px 30px;
	margin:-3px 5px 0px 10px;
	background:url(../images/shuaxin.png) 0px -1px no-repeat #f7f7f7;
	border:1px #efefef solid;
	border-radius:3px;
	color:#2eade3;
	cursor:pointer;}
.shuaxin:hover{
	background:url(../images/shuaxin.png) 0px -1px no-repeat #EDFBFF;
	border: 1px #CDE9F5 solid;}
.searchBtn{
	display:block;
	float:left;
	height:32px;
	line-height:32px;
	width:50px;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	text-align:center;
	background:#2ba4d8 url(../images/search.png) center no-repeat;
	cursor:pointer;}
.locationBtn{
	display:block;
	float:left;
	height:32px;
	line-height:32px;
	width:50px;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	text-align:center;
	background:#2ba4d8 url(../images/locationbtn.png) center no-repeat;
	cursor:pointer;}
.locationBtn:hover{
	display:block;
	float:left;
	height:32px;
	line-height:32px;
	width:50px;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	text-align:center;
	background:#2eade3 url(../images/locationbtn.png) center no-repeat;
	cursor:pointer;}
.moreOptions{
	display:none;
	height:32px;
	width: 100%;
	padding:10px 0px;
	border-top:1px dotted #ececec;}
.options{
	height:32px;
	width: 100%;
	padding:10px 0;}

/*table样式*/
.floatL {
	float: left;
}
.tableChart{
	width:100%;
	margin-top:10px;}/*chart统计图表*/
.chartBox{
	position:relative;
	height:306px;
	border-radius:8px;
	background:#f5f5f5;
	overflow: hidden;}
.chartBoxLeft{
	position:absolute;
	left:0px;
	top:0px;
	height:306px;
	width:260px;
	border-radius:3px 0px 0px 3px;
	background:#fc9c5b url(../images/chartbg.png) 160px 150px no-repeat;}
.sectionA,.sectionB,.sectionC,.sectionD{
	height:121px;
	border-radius:3px;}/*chart统计图表右侧数据显示区域（色块）*/
.sectionA h1,.sectionB h1,.sectionC h1,.sectionD h1{
	display:block;
	height:85px;
	line-height:85px;
	color:#fff771;
	font-size:36px;
	font-weight:100;
	font-family:Arial;
	text-align:center;
	border-radius:3px;}
.sectionA h2,.sectionB h2,.sectionC h2,.sectionD h2{
	display:block;
	height:36px;
	line-height:36px;
	color:#fff;
	font-size:16px;
	font-weight:100;
	font-family:Arial;
	text-align:center;
	border-radius:0px 0px 3px 3px;}
.sectionA{
	border:1px #359cd1 solid;
	background:#41b6f2;}
.sectionA h2{background:#35a7e2;}
.sectionB{
	border:1px #37c5a9 solid;
	background:#3eccb0;}
.sectionB h2{background:#35b99f;}
.sectionC{
	border:1px #f18c48 solid;
	background:#f89a5a;}
.sectionC h2{background:#ed8c4a;}
.sectionD{
	border:1px #c6c440 solid;
	background:#cdcb42;}
.sectionD h2{background:#bab831;}
.tableStyle{
	width:100%;
	font-size:12px;
	text-align:center;
	background:#fff;}/*普通列表*/
.tableStyle th{
	height:28px;
	line-height:28px;
	border-bottom:1px #f3f3f3 solid;
	background:#f9f9f9;}
.tableStyle tr:nth-of-type(odd){background:#f7f7f7;}

.tableStyle tr:hover{background:#fffad4;}
.tableStyle td{
	height:38px;
	line-height:38px;
	border-bottom:1px #f3f3f3 solid;}
tr.new td{
	height:38px;
	line-height:38px;
	background:#FFF1DA;
	border-bottom:1px #FCE3BB solid;}
/*tr.new :hover{background:#fffad4;}*/

.dingdanNumber{
	position:relative;
	height:38px;
	color:#888;
	display:block;}
.biaohaospan{
	position:relative;
	display:block;
	float:left;
	height:38px;
	line-height:38px;
	padding-left:5px;
	color:#333;}
tr.new .dotRed{
	display:block;}
.fapiao{
	display:block;
	height:16px;
	line-height:16px;
	width:40px;
	margin:auto;
	padding-left:16px;
	font-size:12px;
	color:#f47f30;
	background:url(../images/fapiao.png) no-repeat;}
.fapiaoNo{
	display:block;
	height:16px;
	line-height:16px;
	width:40px;
	margin:auto;
	padding-left:16px;
	font-size:12px;
	color:#999;
	background:url(../images/fapiaono.png) no-repeat;}
.fapiaoPrint{
	display:block;
	height:16px;
	line-height:16px;
	width:40px;
	margin:auto;
	padding-left:16px;
	font-size:12px;
	color:#2ba4d8;
	background:url(../images/print.png) no-repeat;}
.dingdanNumber .dotRed{
	display:none;
	position:absolute;
	top:8px;
	right:0px;
	height:8px;
	width:8px;
	background:url(../images/red.png);}
.biaohaospan .dotRed{
	display:none;
	position:absolute;
	top:8px;
	left:0px;
	height:8px;
	width:8px;
	background:url(../images/red.png);}
.contentBox{
	border:1px #ececec solid;
	margin-top:15px;
	background:#fff;}
.contentBox_noRadius{
	height:306px;
	border:1px #ececec solid;
	margin-top:0px;
	background:#fff;
	overflow:hidden;}
.contentTitle{
	height:34px;
	line-height:34px;
	padding:8px 10px 0px 10px;
	border-bottom:1px #f3f3f3 solid;}
.titleText{
	display:block;
	float:left;
	height:24px;
	line-height:24px;
	border-left:3px #d3403a solid;
	color:#555;
	letter-spacing:2px;
}
.copyRight{
	height:30px;
	line-height:30px;
	margin-top:60px;
	color:#999;
	font-size:10px;
	text-align:center;}
div.morecontentBar {
	border:1px dotted #D5D3D3;
	clear: both;
	height:28px;
	line-height:28px;
	text-align:center;
	padding: 5px 0;
	margin-top:10px;
	color:#666;
	background:#f7f7f7;
	cursor:pointer;}
div.morecontentBar:hover{
	color:#2ba4d8;
	background:#ECF8FF;
	border:#ADE0FC dotted 1px;}
/*页码*/
/*div.pageBar {
	border:1px solid #ebeaea;
	clear: both;
	height:32px;
	padding: 5px 0;
	margin-top:10px;
	background:#fff;}
.snPages {
	float: right;
	height:32px;
	padding-right: 10px;}
.snPages a, .snPages a:visited, .snPages span, .snPages div {
	color: #333;
	display: inline;
	float: left;
	margin-left: 4px;
	position: relative;}
.snPages span {
	margin: 0 10px;}
.snPages div {
	height:32px;
	line-height:32px;
	width: 200px;
	margin-top:-1px;
	overflow: hidden;
	padding-left: 30px;}
.snPages a, .snPages a:visited {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	height:32px;
	line-height:32px;
	width:24px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none;
}
.snPages a.current {
	color: #f60;}
.snPages a.prev, .snPages a.next, .snPages a.prev, .snPages a.next:visited {
	height:32px;
	line-height:32px;
	overflow: hidden;
	padding: 0;
	width:32px;}
.snPages a.prev, .snPages span.prev {
	text-indent: 6px;}
.snPages a.next, .snPages span.next {
	margin-left: 4px;
	text-indent: -6px;}
.snPages span.prev, .snPages span.next {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	color: #b1b1b1;
	display: inline;
	float: left;
	height:32px;
	line-height: 32px;
	margin: 0;
	overflow: hidden;
	text-align: center;
	width:32px;}
.snPages span.prev {}
.snPages span.next {
	margin-left: 4px;}
.snPages b {
	border-color: #fff #333 #fff #fff;
	border-style: solid;
	border-width: 5px;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin-top: -2px;
	position: absolute;
	width: 0;}
.snPages a.prev b {
	left: 1px;
	top: 8px;}
.snPages a.next b {
	border-color: #fff #fff #fff #333;
	right: 8px;
	top: 14px;}
.snPages span.prev b {
	border-color: #fff #b1b1b1 #fff #fff;
	left: 8px;
	top: 14px;}
.snPages span.next b {
	border-color: #fff #fff #fff #b1b1b1;
	right: 1px;
	top: 10px;}
.snPages div input {
	border: 1px solid #d7d7d7;
	height:28px;
	line-height:28px;
	margin: 0 3px;
	overflow: hidden;
	text-align: center;
	width:50px;}
.snPages div input.pagesubmit {
	background:#d3403a;
	border-radius: 4px;
	cursor: pointer;
	display: inline;
	float: right;
	height:30px;
	line-height:30px;
	border:none;
	margin-top:2px;
	color:#fff;
	font-size:14px;
	overflow: hidden;
	position: relative;
	width: 45px;}
.snPages div input.pagesubmit:hover {
	text-decoration: underline;}
.snPages a:hover {
	color: #f60;}*/
/*----------------------------------------------*/
/*状态*/
.star{
	width:18px;
	height:18px;
	line-height:18px;
	border-radius:3px;
	color:#fff;
	font-size:12px;
	text-align:center;
	background:url(../images/star.png);}/*星星-亮*/
.starhalf{
	width:18px;
	height:18px;
	line-height:18px;
	border-radius:3px;
	color:#fff;
	font-size:12px;
	text-align:center;
	background:url(../images/starhalf.png);}/*半颗星-亮*/
.starOff{
	width:18px;
	height:18px;
	line-height:18px;
	border-radius:3px;
	color:#fff;
	font-size:12px;
	text-align:center;
	background:url(../images/star02.png);}/*星星-不亮*/
.statusGreen,.statusBlue,.statusYellow,.statusGray,.statusOrange,.typePrice{
	display:block;
	height:22px;
	line-height:22px;
	width:70px;
	color:#fff;
	font-size:12px;
	letter-spacing:1px;
	margin:auto;
	text-align:center;
	border-radius:3px;}
.statusGreen{background:#14c18b;}
.statusBlue{background: #2ba4d8;}
.statusYellow{background:#fda82f;}
.statusGray{background:#bbbbbb;}
.statusOrange{ background:#F06F49;}
.typePrice{color:#1c6d9a;background:#ddf3ff;}
.link:hover {
	color: #ff0;
	cursor: pointer;
}
.statusGreen.link{background:#14c18b url(../images/seedetail.png) no-repeat 50px center;}
.statusGreen.link:hover{background:#14c18b url(../images/seedetail02.png) no-repeat 50px center;}
.statusGray.link{background:#bbbbbb url(../images/seedetail.png) no-repeat 50px center;}
.statusGray.link:hover{background:#bbbbbb url(../images/seedetail02.png) no-repeat 50px center;}
/*订单状态标识*/
.quxiao,.tuihuo,.zuofei,.jiezhi{
	height:18px;
	width:18px;}
.quxiao{
	background:url(../images/quxiao.png) no-repeat 0px 0px;}
.tuihuo{
	background:url(../images/quxiao.png) no-repeat 0px -18px;}
.zuofei{
	background:url(../images/quxiao.png) no-repeat 0px -36px;}
.jiezhi{
	background:url(../images/quxiao.png) no-repeat 0px -54px;}
/*产品类型*/

.cooperateSpan,.contract,.cooperateSpan90,.contract90,.diaoboRed{
	display:block;
	margin:auto;
	width:100px;
	height:20px;
	line-height:20px;
	border-radius:5px;
	font-size:12px;
	text-align:center;
	letter-spacing:1px;}
.cooperateSpan,.cooperateSpan90{
	border:1px #f47f30 solid;
	color:#f47f30;}
.contract,.contract90{
	border:1px #42abf3 solid;
	color:#42abf3;
	text-align:center;}
.cooperateSpan90,.contract90{width:90px;}
.diaoboRed{
	border:1px #d3403a solid;
	color:#d3403a;}
/*备注列*/
.ps_table{
	width:100%;
	margin-top:10px;}
.ps_table .lineTit120{ font-size:14px;}
.ps_table .inputBoxGray,.ps_table .textArea{
	height:80px;
	color:#666;}
