@charset "utf-8";
/* CSS Document */
/*现金发放统计顶部统计数据方块儿*/
.dataBox{
	height:220px;
	border-radius:3px;
	overflow:hidden;
	position:relative;}
.dataBoxTop{
	height:124px;}
.dataBoxTop h1{
	display:block;
	height:80px;
	line-height:80px;
	color:#fff771;
	letter-spacing:1px;
	font-size:36px;
	font-weight:100;
	font-family:Arial;
	text-align:center;
	border-radius:3px;}
.dataBoxTop h2{
	display:block;
	height:20px;
	line-height:20px;
	color:#fff;
	letter-spacing:1px;
	font-size:16px;
	font-weight:100;
	font-family:Arial;
	text-align:center;
	border-radius:0px 0px 3px 3px;}
.dataBoxBottom{
	height:77px;
	padding:10px;}
.dataBox.pink{
	border:#ff4d4d solid 1px;
	background:#ff6a6a;}
.dataBox.pink .dataBoxBottom{
	border-top:1px solid #f54242;
	background:#ff4d4d;}
.dataBox.orange{
	border:#ed8c4a solid 1px;
	background:#f89a5a;}
.dataBox.orange .dataBoxBottom{
	border-top:1px solid #e2803d;
	background:#ed8c4a;}
.dataBox.blue{
	position:relative;
	border:#35a7e2 solid 1px;
	padding-left:50%;
	background:#41b6f2;}
.dataBox.blue .dataBoxBottom{
	border-top:1px solid #2a9bd5;
	background:#35a7e2;}
.dataLeftDiv{
	position:absolute;
	top:0px;
	left:0px;
	width:50%;
	border-right:#35a7e2 solid 1px;}
.dataRightDiv{
	height:210px;
	padding:5px;}
.dataRightUl{
	display:block;}
.dataRightUl li{
	display:block;
	height:38px;
	line-height:38px;
	margin-top:5px;
	padding-right:5px;
	color:#006fa8;
	font-size:16px;
	font-family:"微软雅黑";
	letter-spacing:1px;
	text-align:right;
	background:#c7ecff;}
.dataRightUl li div{
	display:block;
	float:left;
	height:38px;
	line-height:38px;
	padding:0px 5px;
	padding-right:5px;
	color:#0791d9;
	font-size:14px;
	background:#a3e0ff;}
.barBox{
	height:20px;
	border-radius:20px;
	background:#f0efef;
	overflow:hidden;}
.barBox div{
	height:20px;
	border-right:1px solid #edd94a;
	background:#ffee71;}
.dataDetail{
	height:50px;
	margin-top:5px;}
.dataDetail div{
	float:left;
	width:50%;}
.dataDetail h5{
	line-height:20px;
	color:#efefef;
	font-size:14px;
	font-family:"微软雅黑";
	letter-spacing:1px;}
.dataDetail h4{
	line-height:30px;
	color:#fff771;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:1px;}
.dataDetail div.right{
	text-align:right;}
.dataDetail div.right h4{
	color:#efefef;}