@charset "utf-8";
/* CSS Document */

/*首页*/
.header{height:49px; border-bottom:1px solid #e5e5e5; background:#fff; padding:10px 20px;}
.logo img{float:left;}
.nav{float:right;}
.nav a{float:left; line-height:28px; margin-left:16px; margin-top:10px; color:#646464;}
.nav a:hover{color:#f13e2f; opacity:0.8; cursor:pointer;}
.nav_left{float:left; width:200px; background:#e5e5e5;}
.nav_left ul li{height:40px; line-height:40px; border-bottom:1px solid #ccc; text-align:center;}


/*头部表格*/
.topChart{padding-top:10px;}
.topChart table{width:100%;}
.topChart table tr td{width:20%;}
.chartItem{ border:1px solid #e5e5e5; border-radius:8px; margin-right:16px; margin-bottom:10px; background:#fff; padding:20px; overflow:hidden;}
.chartItem img{float:left; margin-right:10px;}
.chartItem h1{font-size:22px; color:#323232; font-weight:bold;}
.chartItem h2{font-size:12px; color:#969696;}
/*.settleTyle{overflow:hidden; padding-top:26px; background:url(../images/ic_arrow_blue.png) no-repeat center top;}
*/.settleTyle p{font-size:14px; color:#646464; float:left; line-height:24px;}
.settleTyle font{font-size:14px; color:#36b2e6;}

/*底部表格*/
.bottomchart{
	position:relative;
	border:1px solid #e5e5e5;
	border-radius:8px;
	margin-top:10px;
	padding:10px 20px 10px 180px;
	background:#fff;}
.chartTime{background:#fff; border-bottom:1px dashed #e5e5e5;}

/*
统计图
 */
.chartsDiv{
	height:1000px;
	border-radius:8px;
	margin-top:10px;
	background:#fff;}