@charset "utf-8";
/* CSS Document */

/*各种库库列表*/
.taskListMain{margin:10px 0;}
.taskListMain table{width:100%; border-collapse:collapse;}
.taskListMain table tr th{height:50px; font-weight:normal;border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.taskListTitle{background:#3cabd8; color:#fff; font-size:14px;}
.taskListMain table tr.taskListTitle th{border-right:1px solid #8fc5ef;}
.taskListItem{background:#fff; border-bottom:1px solid #e5e5e5; color:#646464;font-size:12px;}
.taskListItem:hover{background:#ffffeb;}
.selBox{background:url(../images/ic_sel.png) no-repeat center #fff; width:60px; border-bottom:1px solid #e5e5e5;}
.selall{cursor:pointer;width:60px;}
.selBox_on{background:url(../images/ic_sel_hover.png) no-repeat center #fff; width:50px;}
.font_grey{color:#fff; background:#ccc; padding:2px 10px; border-radius:2px; cursor:pointer; margin:6px 0;}
.font_blue{color:#fff; background:#70b5eb; padding:2px 10px; border-radius:2px; cursor:pointer; margin:6px 0;}
.span_orange{color:#f05918; margin:10px 0; display:block;}
.span_green{color:#60c617; margin:10px 0; display:block;}
.span_grey{color:#969696; margin:10px 0; display:block;}



/*审核管理*/
.shenheTitle{background:#fff; border:1px solid #e5e5e5; border-radius:4px; margin-top:10px; overflow:hidden;}
.shenheTitle p{float:left; color:#969696; font-size:14px; margin-left:20px; line-height:40px;}
.shenheTitle span{color:#3CABD8;}
.column01{margin-top:10px; border-radius:4px; background:#fff; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.column01 table{width:100%;}
.columnTitle{overflow:hidden; height:36px; background:#70B5EB; font-size:12px;}
.columnTitle h1{color:#fff; float:left; font-size:14px;line-height:36px; padding-left:20px;}
.columnAdd{float:right; height:24px;color:#fff; padding:0 6px; border:1px solid #e2f2f9; border-radius:4px; margin-top:6px; margin-right:20px; font-size:12px;}
.columnAdd:hover{opacity:0.8;}
.column01 table{width:100%; border-collapse:collapse;}
.columnsubTitle{background:#f7f7f7;}
.columnsubTitle th{font-size:12px;}
.column01 table tr th{font-weight:normal; color:#646464; border-bottom:1px solid #e5e5e5;width:25%;}
.btnDelete{background:url(../images/ic_delete.png) no-repeat center;height:40px; display:block;}
.btnDelete:hover{background:url(../images/ic_delete_hover.png) no-repeat center; height:40px;}
.addcotentInput{width:120px; line-height:30px; padding:0 10px; margin-right:10px; color:#646464; background:url(../images/ico_down.png) no-repeat right center #f7f7f7; border:1px solid #e5e5e5; border-radius:4px;}
.seltabs{float:left; margin-right:20px; overflow:hidden;}
.seltab{background:url(../images/ic_sel.png) no-repeat center; width:24px; height:24px; display:inline-block; float:left; margin-right:4px;}
.seltab:hover{background:url(../images/ic_sel_hover.png) no-repeat center; width:24px; height:24px;}
.seltab_on{background:url(../images/ic_sel_hover.png) no-repeat center; width:24px; height:24px;}
.seltabs font{font-size:14px; color:#646464; float:left; line-height:30px; width:80px;}
.seltabs h1{font-size:14px; color:#646464; float:left; line-height:30px; font-weight:normal;}
.seltabs span{font-size:14px; color:#646464; float:left; line-height:30px;}


/*树形分类列表*/
div.headFlei{ clear:both; height:45px; background:#3cabd8;}
div.headFlei h1{ float:left;height:45px; line-height:45px; padding:0 15px;
color:#fff; letter-spacing:1px; font-family:'微软雅黑'; font-size:14px; font-weight:normal;}
.datagrid-wrap{ border:1px solid #ddd !important;}


/*查看详情的评分*/
.pingfenBox{width:100%; border-collapse:collapse;}
.pingfenBox tr td{width:33.3%; line-height:36px; height:36px; background:#70b5eb; color:#fff; font-size:12px; text-align:center;}
.pingfenBox tr th{width:33.3%; line-height:36px; height:36px; background:#fff; color:#646464; border-bottom:1px solid #e5e5e5; font-size:14px; font-weight:normal;}
img.img_stars{margin:0 auto; width:100px; display:block; float:none;}


/*报名流程*/
.baomingBox{width:100%; border-collapse:collapse;}
.baomingBox tr td{line-height:36px; height:36px; background:#70b5eb; color:#fff; font-size:12px; text-align:center;}
.baomingBox tr th{line-height:36px; height:36px; background:#fff; color:#646464; border-bottom:1px solid #e5e5e5; font-size:14px; font-weight:normal;}


/*星星月亮太阳等级*/
.span_rank{height:30px; width:100%;}
.img_sun{background:url(../images/img_jifen_sun.png) no-repeat center; width:30px; height:30px; display:inline-block;}
.img_moon{background:url(../images/img_jifen_moon.png) no-repeat center; width:30px; height:30px; display:inline-block;}
.img_star{background:url(../images/img_jifen_star.png) no-repeat center; width:30px; height:30px; display:inline-block;}